Project_1/latex/problem_2.log
Project_1/latex/problem_2.fls
Project_1/latex/problem_2.fdb_latexmk
Project_1/latex/problem_2.aux
Project_1/latex/problem_1.synctex.gz
Project_1/latex/problem_1.log
Project_1/latex/problem_1.fls
Project_1/latex/problem_1.fdb_latexmk
Project_1/latex/problem_1.dvi
Project_1/latex/problem_1.aux
Project_1/latex/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Project_1/latex/problem_2.synctex.gz
